*{
	font-family: 'Montserrat', sans-serif;
}

.a{
	background-color: #0000009c;
  }

.nav-item{
	padding: 5px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase; 
}

.border-box{
	border-style: solid;
    border-width: thin;
    border-color: #fbab29;
}

.mob-logo{
	display: none;
}

.mob-post{
	display: none;
}

@media(max-width: 768px){
	.a{
		background-color: #fec926;
	}

    .web-logo{
		display: none;
	}

	.web-post{
		display: none;
	}

	.mob-logo{
		width: 200px;
		display:block;
	}

	.mob-post{
		width:100%;
		display: block;
	}

	.nav-item{
		text-align: center;
		line-height: 15px;
	}

	.border-box{
		border-style:  none;
      }
}

.pic{
	margin-top: 10px;
}

.xq{
	padding: 5%;
}

.foot{
	padding: 15px;
	color: #fff;
	
}

.foot a{
	text-decoration: none;
}

.footer{
	font-size: 13px;
	color: white;
	margin: 0px;
}

.txt{
    position: relative;
    bottom: 320px;
    font-size: 70px;
    font-weight: 700;
}


@media(max-width: 768px){
    .txt{
    position: relative;
    bottom: 280px;
    font-size: 55px;
    font-weight: 700;
    

}
}