*{
	font-family: 'Montserrat', sans-serif;
}

.a{
	background-color: #0000009c;
  }

.nav-item{
	padding: 5px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase; 
}

.border-box{
	border-style: solid;
    border-width: thin;
    border-color: #fbab29;
}

.mob-logo{
	display: none;
}

.mob-post{
	display: none;
}

@media(max-width: 768px){
	.a{
		background-color: #fec926;
	}

	.web-logo{
		display: none;
	}

	.mob-logo{
		width: 200px;
		display:block;
	}

	.web-post{
		display: none;
	}

	.mob-post{
		width: 100%;
		display:block;
	}

	.nav-item{
		text-align: center;
		line-height: 15px;
	}

	.border-box{
		border-style:  none;
	}
}

.form{
	padding-right: 50px;
	margin-bottom: 20px;
}

input{
	display: block;
    width: 100%
}

textarea{
	display: block;
	width: 100%;
}

strong{
	color: #fcb21b;
}

b a{
	text-decoration: none;
	color: #fcb21b;

}

.foot{
	padding: 15px;
	color: #fff;
	
}

.foot a{
	text-decoration: none;
}

.footer{
	font-size: 13px;
	color: white;
	margin: 0px;
}